/* Tablet */

@media (max-width: 1199px) {
  .container {
    width: 900px;
  }

  /* Header */

  .header {
    height: 591px;
  }

  .header-top {
    width: 100%;
    padding: 0 15px;
  }

  .header-content {
    width: 900px;
    padding: 0 15px;
  }

  .header-nav-button {
    display: block;
  }

  .header-nav-list {
    display: none;
  }

  .header-title {
    font-size: 52px;
  }

  .header-scroll {
    font-size: 0;
  }

  /* Main */

  .main {
    padding: 80px 0;
  }

  .main-row {
    margin-bottom: 80px;
  }

  .main-content {
    width: 420px;
  }

  .main-img {
    width: 420px;
  }

  .main-header {
    font-size: 50px;
    line-height: 1;
  }

  .main-content-text {
    margin-bottom: 20px;
    font-size: 18px;
  }

  /* Footer */

  .footer {
    padding: 50px 0;
  }

  .footer-widget-services {
    display: none;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-logo .logo {
    font-size: 30px;
  }

  .footer-copyright {
    width: 195px;
  }

  .footer-copyright p {
    font-size: 14px;
  }

  .footer-widget-title {
    margin-bottom: 20px;
  }

  .footer-widget-info {
    width: 195px;
  }
}

/* Mobile */

@media (max-width: 899px) {
  .container {
    width: 100%;
  }

  /* Header */

  .header-top {
    width: 100%;
  }

  .header-content {
    width: 100%;
  }

  .header-title {
    font-size: 42px;
  }

  .header-content p {
    font-size: 20px;
  }

  /* Main */

  .main {
    padding: 60px 0;
  }

  .main-row {
    flex-direction: row-reverse;
    column-gap: 30px;
    margin-bottom: 60px;
  }

  .main-img {
    width: 170px;
    flex-shrink: 0;
  }

  .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-content {
    width: auto;
  }

  .main-header {
    font-size: 42px;
  }

  .main-content-text {
    font-size: 16px;
  }

  .button {
    height: 46px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    line-height: 46px;
  }

  /* Footer */

  .footer {
    padding: 40px 0;
  }

  .footer-row {
    flex-wrap: wrap;
  }

  .footer-copyright {
    order: 1;
    width: 100%;
  }

  .footer-widgets-wrapper {
    margin-bottom: 50px;
    width: 100%;
    padding-top: 0;
  }

  .footer-widgets-wrapper > * {
    width: calc(50% - 15px);
  }
}

/* Mobile XS */

@media (max-width: 599px) {
  .container {
    width: 320px;
  }

  /* Header */

  .header-top,
  .header-content {
    width: 100%;
  }

  .logo {
    font-size: 30px;
  }

  .header-title {
    margin-bottom: 10px;
    font-size: 32px;
  }

  .header-content p {
    font-size: 18px;
  }

  /* Main */

  .main {
    padding: 40px 0;
  }

  .main .container {
    width: 100%;
  }

  .main-row:nth-child(even) {
    flex-direction: column-reverse;
  }

  .main-row {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .main-img {
    width: auto;
    height: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-header {
    font-size: 34px;
  }

  /* Footer */

  .footer {
    text-align: center;
  }

  .footer-row {
    flex-direction: column;
  }

  .footer-widgets-wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer-widgets-wrapper > * {
    width: 100%;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-widget-services {
    display: block;
  }

  .footer-widget + .footer-widget {
    margin-left: 0;
  }

  .footer-widget + .footer-widget {
    margin-top: 40px;
  }

  .footer-widget-title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .footer-widget-list {
    font-size: 16px;
  }

  .footer-widget-list li + li {
    margin-top: 10px;
  }

  .footer-widget-contacts .footer-widget-list li + li {
    margin-top: 15px;
  }
}

/* Tours -------------------------------------------------------------- */

@media (max-width: 1199px) {
  .inner-page {
    padding: 60px 0;
  }

  .inner-page-tours-header {
    margin-bottom: 40px;
  }

  .inner-page-tours-header .main-header {
    line-height: 1.3;
  }

  .card-title-wrapper {
    padding: 0 20px;
    height: 60px;
  }

  .card-title {
    font-size: 24px;
  }
}

@media (max-width: 899px) {
  .header-inner {
    height: 80px;
  }

  .header-inner .logo {
    font-size: 30px;
  }

  .inner-page {
    padding: 40px 0;
  }

  .inner-page-tours-header {
    margin-bottom: 40px;
  }

  .inner-page-tours-header .main-header {
    line-height: normal;
  }

  .cards-row {
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-title-wrapper {
    padding: 0 25px;
  }
}

@media (max-width: 599px) {
  .inner-page-tours-header {
    margin-bottom: 30px;
  }

  .inner-page-tours-header .main-header {
    font-size: 28px;
    line-height: 1;
  }

  .cards-wrapper {
    row-gap: 20px;
  }

  .cards-row {
    row-gap: 20px;
  }

  .card-row-column {
    row-gap: 20px;
  }

  .card-title-wrapper {
    padding: 0 15px;
    height: 50px;
  }

  .card-title {
    font-size: 20px;
  }
}

/* Traking Tours -------------------------------------------------------------- */
/* Tablet */
@media (max-width: 1199px) {
  .inner-page-tour {
    padding: 51px 0 66px;
  }

  .row-article-page {
    display: flex;
    column-gap: 34px;
  }

  /* NAV */
  .article-page-nav {
    width: 268px;
  }

  .artical-page-nav-list {
    font-size: 18px;
  }

  .artical-page-nav-list a {
    padding: 14px 0 16px;
  }

  /* Blog */

  .article-page-article {
    width: 570px;
  }

  .article-page-article h1 {
    margin-top: -10px;
    margin-bottom: 29px;
    font-size: 50px;
  }

  .article-page-article h3 {
    margin: 18px 0 13px;
  }

  .article-page-article p {
    font-size: 18px;
  }

  .article-page-article p + p {
    margin-top: 16px;
  }

  .article-page-article img {
    margin: 30px 0;
  }
}

/* Mobile */

@media (max-width: 899px) {
  .inner-page-tour {
    padding: 25px 0 60px;
  }

  .row-article-page {
    row-gap: 40px;
    flex-direction: column-reverse;
  }

  /* Blog */

  .article-page-article h1 {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 42px;
  }

  .article-page-article h2 {
    margin: 23px 0 10px;
  }

  .article-page-article h3 {
    margin: 19px 0 13px;
  }

  .article-page-article p {
    font-size: 16px;
  }

  .article-page-article img {
    margin: 21px 0;
  }

  /* NAV */

  .article-page-nav {
    width: 100%;
  }

  .artical-page-nav-title {
    margin-bottom: 20px;
  }
}

/* Mobile XS */

@media (max-width: 599px) {
  .inner-page-tour {
    padding: 20px 0 40px;
  }

  .row-article-page {
    row-gap: 0;
  }
  /* Blog */

  .article-page-article {
    width: 290px;
  }
  .article-page-article h1 {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 28px;
  }

  .article-page-article h2 {
    margin: 14px 0 19px;
    line-height: 1;
  }

  .article-page-article h3 {
    line-height: 1;
    margin: 13px 0 20px;
  }

  .article-page-article h4 {
    display: block;
    width: 284px;
    font-size: 22px;
    margin: 17px 0 14px;
  }

  .article-page-article p + p {
    margin-top: 20px;
  }

  /* NAV */

  .artical-page-nav-title {
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 1;
  }

  .artical-page-nav-list {
    font-size: 16px;
    line-height: 1.3;
  }

  .artical-page-nav-list a {
    padding: 7px 0 8px;
    width: 239px;
  }
}

/* Contacts -------------------------------------------------------*/

/* Tablet */

@media (max-width: 1199px) {
  .inner-page-contacts {
    padding: 40px 0 60px;
  }

  .contact-row {
    flex-direction: column;
    row-gap: 40px;
  }

  .contacts-header {
    margin-bottom: 39px;
  }

  .contacts-header .main-header {
    line-height: 1.3;
  }

  .contact-block {
    width: 420px;
  }

  .contact-block-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contact-block-title--first {
    margin-bottom: 25px;
  }

  .contact-block-body {
    font-size: 18px;
  }

  .contact-block + .contact-block {
    margin-top: 0px;
  }

  .contact-info {
    width: 100%;
    display: flex;
    column-gap: 30px;
  }

  .map-wrapper {
    width: 420px;
    height: 310px;
  }

  .form {
    width: 100%;
  }

  .radio-row + .radio-row {
    margin-top: 22px;
  }

  .custom-radio {
    margin-right: 14px;
  }

  .checkbox-row + .checkbox-row {
    margin-top: 19px;
  }

  .custom-checkbox {
    margin-right: 14px;
  }
}

/* Mobile */

@media (max-width: 899px) {
  .inner-page-contacts {
    padding: 40px 0;
  }

  .contact-info {
    flex-direction: column;
    row-gap: 40px;
  }

  .contacts-header {
    margin-bottom: 30px;
  }

  .contact-list-icon {
    padding-left: 38px;
  }

  .contact-list-icon::before {
    top: 4px;
  }

  .map-wrapper {
    width: 570px;
  }

  .form {
    padding: 30px;
  }

  .form-group {
    margin-bottom: 31px;
  }

  .form-group:last-of-type {
    margin-bottom: 30px;
  }

  .radio-row + .radio-row {
    margin-top: 21px;
  }
}

/* Mobile XS */

@media (max-width: 599px) {
  .contact-row {
    row-gap: 30px;
  }

  .contact-info {
    row-gap: 30px;
  }

  .contact-block {
    width: 290px;
  }

  .contacts-header .main-header {
    font-size: 28px;
    line-height: 1;
  }

  .contact-block-title {
    font-size: 20px;
  }

  .contact-block-title--first {
    margin-bottom: 20px;
  }

  .contact-block-body {
    font-size: 16px;
    line-height: 1.3;
  }

  .contact-list li + li {
    margin-top: 20px;
  }

  .map-wrapper {
    width: 290px;
    height: 157px;
  }

  .form {
    padding: 20px 20px 30px 15px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group:last-of-type {
    margin-bottom: 20px;
  }

  .form-title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .contact-list-icon {
    padding-left: 33px;
  }

  .contact-list-icon::before {
    top: 2px;
  }

  .input {
    padding: 0 15px;
  }

  .form-group-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .form-group-row {
    row-gap: 10px;
    flex-direction: column;
  }
  .radio-row {
    font-size: 16px;
  }

  .radio-row + .radio-row {
    margin-top: 12px;
  }

  .checkbox-row {
    font-size: 16px;
    line-height: 1.3;
  }

  .checkbox-row + .checkbox-row {
    margin-top: 21px;
  }

  .form .button {
    padding-left: 35px;
    padding-right: 35px;
  }
}
